<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/valer/IdeaProjects/Resful-booker_Pet_progect">
        <classes>
            <class name="AuthentificationTest"/>
            <class name="CreateAndUpdateBookingTest"/>
            <class name="DeleteBookingTest"/>
            <class name="GetBookingTest"/>
            <class name="HealthTest"/>
        </classes>
    </test>
</suite>